.App {
  font-family: sans-serif;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #df0b0b;
  color: #fff;
}

.header-container > * {
  margin-right: 20px;
}

/* Add any additional styles as needed */
