.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .secondaryNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navTrigger {
    margin-right: 1rem;
  }
  
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .contactInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
  }
  
  .contactInfo a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #333;
  }
  
  .contactInfo a i {
    margin-right: 0.5rem;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .currency,
  .signIn,
  .register,
  .language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  
  .currency select,
  .language select {
    margin-left: 0.5rem;
  }
  
  .signIn a,
  .register a {
    color: #333;
  }
  
  .signIn a:hover,
  .register a:hover {
    text-decoration: none;
    color: #000;
  }
  